name: Deploying to Oracle

on:
  push:
    branches: [ master ]


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Setup SSH connection
        run: |

            mkdir -p ~/.ssh
            echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/deploy_key
            chmod 600 ~/.ssh/deploy_key
            ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

      - name: Deploying to server
        run: |
          ssh -i ~/.ssh/deploy_key ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_IP }}
          cd /var/www/html
          sudo git pull origin master
          sudo systemctl reload nginx
          ENDSSH